@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('/public/fonts/Satoshi-Regular.woff2') format('woff2'),
    url('/public/fonts/Satoshi-Medium.woff2') format('woff2'),
    url('/public/fonts/Satoshi-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Monument';
  src: url('/public/fonts/MonumentExtended-Regular.woff2') format('woff2'),
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Satoshi, sans-serif; */
}